{{ $footerContact := .Site.Data.profile.primary_contact }}
{{ $footerDesign := .Site.Data.design.footer }}
{{ $footerSocial := .Site.Data.profile.social_accounts }}
{{ $footerAddress := .Site.Data.profile.location_information }}
<div class="section pb-0 pt-0" style="background:#F7F8F9;">
  <div class="container pt-6 pb-6">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-3 is-size-4-mobile">Register your account to save your searches</h1>
        <br>
        <a href="https://lifestyleca.idxhome.com/organizer/login/59163" class="primary-btn">Register Account</a>
      </div>
    </div>
  </div>
</div>
<div class="section pt-3">
  <div class="container">
      <div class="columns pt-6 pb-6 is-variable is-8" style="background: #2c2c2c;">
        <div class="column is-4">
          <h4 class="subtitle is-5 has-text-white">Get in touch with our team today and let us help you locate your new home</h4>
        </div>
          <div class="column footer-form">
            {{ if .Site.Data.idx.enable_idx }}
            <form id="ihf-contact-request-form" data-ihf-event="contact-form-submit" action="https://lifestyleca.idxhome.com/contact/{{ .Site.Data.idx.ihomefinder_client_id }}" method="POST" data-ihf-event-bound="true">
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Name" name="contactName">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" placeholder="Email" name="email">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" placeholder="Phone" name="phone">
                    </p>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                    <textarea id="message" placeholder="Message" name="message" class="textarea" style="height: 140px;" rows="3"> </textarea>
                </div>
              </div>
              <div class="control">
                <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">Submit</button>
              </div>
            </form>
            {{ else }}
            <form name="Contact Footer Form" method="POST" data-netlify="true" netlify-honeypot="bot-field">
              <input name="bot-field" type="hidden"/>
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="First Name" name="first name">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" placeholder="Last Name" name="last name">
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Phone" name="phone">
                </div>
              </div>
    
              <div class="field">
                <div class="control">
                  <input class="input" type="email" placeholder="Email" name="email address">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                </div>
              </div>
              <div class="control">
                <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">Submit</button>
              </div>
            </form>
            {{ end }}
          </div>
      </div>
  </div>
</div>
<footer class="footer">
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-11 is-offset-1">
        <div class="columns is-variable is-0">
          <div class="column">
            <img src="{{ .Site.BaseURL }}uploads/californialifestylelogo.png" alt="" width="150"><br><br>
            <img src="{{ .Site.BaseURL }}uploads/antonio-matier-logo.png" alt="" width="150"><br><br>
            <img src="{{ .Site.BaseURL }}uploads/caimeiju.png" alt="" width="150"><br><br>
            <h2 class="title is-6 mb-0 has-text-black"></h2>
            <br>
            <p class="is-size-7">BRE License #01928529</p>
            <p class="is-size-7">BRE License #01519211</p>
          </div>
          <div class="column">
            <h4 class="title is-6 has-text-black is-uppercase">Client Relations</h4>
            <ul>
              <li><a href="https://www.lifestyleca.com/home-value-request">Home Value Request</a></li>
              <li><a href="https://www.lifestyleca.com/marketing/">Marketing</a></li>
              <li><a href="https://www.lifestyleca.com/short-sale/">Short Sale</a></li>
              <li><a href="https://www.lifestyleca.com/buyers-and-sellers/">Sellers and Buyers</a></li>
            </ul>
          </div>
          <div class="column">
            <h4 class="title is-6 has-text-black is-uppercase">Search Homes</h4>
            <ul>
              <li><a href="http://lifestyleca.idxhome.com/report/listing-report/San-Francisco/59163/1131466">San Francisco</a></li>
              <li><a href="http://lifestyleca.idxhome.com/report/listing-report/santa-clara/59163/1137493">Santa Clara</a></li>
              <li><a href="http://lifestyleca.idxhome.com/report/listing-report/Oakland/59163/1131467">Oakland</a></li>
              <li><a href="http://lifestyleca.idxhome.com/report/listing-report/Hayward/59163/1131470">Hayward</a></li>
              <li><a href="http://lifestyleca.idxhome.com/report/listing-report/lamorinda-Homes/59163/1137410">Lamorinda</a></li>
            </ul>
          </div>
          <div class="column">
            <h4 class="title is-6 has-text-black is-uppercase">About us</h4>
            <ul>
              <li><a href="https://www.lifestyleca.com/about">About</a></li>
              <li><a href="https://www.lifestyleca.com/contact">Contact</a></li>
              <li><a href="https://www.lifestyleca.com/join-the-team">Join the Team</a></li>
              <li><a href="https://www.lifestyleca.com/asset-managers">Asset Manager</a></li>
              <li><a href="https://www.lifestyleca.com/testimonials">Testimonials</a></li>
            </ul>
          </div>
          <div class="column">
            <h4 class="title is-6 has-text-black is-uppercase">Contact</h4>
                <p><a href="mailto:{{ $footerContact.email }}">{{ $footerContact.email }}</a></p>
                <p><a href="tel:{{ $footerContact.phone }}" class="has-text-black">Office: {{ $footerContact.phone }}</a></p>
                <p><a href="tel:{{ $footerContact.mobile_phone }}" class="has-text-black">Direct: {{ $footerContact.mobile_phone }}</a></p>
                <p>Fax: 925-317-7534</p>
                <p>{{ $footerAddress.address }} {{ $footerAddress.city }} {{ $footerAddress.state }}, {{ $footerAddress.zip_code }}</p>
          </div>
        </div>
        <hr>
        <div class="columns">
          <div class="column has-text-centered-mobile">
            <p class="is-size-7">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.primary_company_name }}  &middot; <a href="https://hungryram.com" target="_blank" class="is-size-7">Website Developed by Hungry Ram</a></p><br>
            <ul>
              <li class="is-inline-block mr-4 is-size-7"><a href="https://lifestyleca.com/privacy-policy">Privacy Policy</a></li>
              <li class="is-inline-block mr-4 is-size-7"><a href="https://lifestyleca.com/accessibility">Accessibility</a></li>
            </ul>
          </div>
          <div class="column has-text-right-desktop has-text-centered-mobile">
            <ul>
              {{ if $footerSocial.facebook }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.facebook }}" target="_blank">Facebook</a></li>{{ end }}
              {{ if $footerSocial.instagram }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.instagram }}" target="_blank">Instagram</a></li>{{ end }}
              {{ if $footerSocial.twitter }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.twitter }}" target="_blank">Twitter</a></li>{{ end }}
              {{ if $footerSocial.pinterest }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.pinterest }}" target="_blank">Pinterest</a></li>{{ end }}
              {{ if $footerSocial.youtube }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.youtube }}" target="_blank">Youtube</a></li>{{ end }}
              {{ if $footerSocial.linkedin }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.linkedin }}" target="_blank">Linkedin</a></li>{{ end }}
              {{ if $footerSocial.zillow }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.zillow }}" target="_blank">Zillow</a></li>{{ end }}
              {{ if $footerSocial.redfin }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.redfin }}" target="_blank">Redfin</a></li>{{ end }}
              {{ if $footerSocial.realtor }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.realtor }}" target="_blank">Realtor</a></li>{{ end }}
              {{ if $footerSocial.reddit }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.reddit }}" target="_blank">Reddit</a></li>{{ end }}
              {{ if $footerSocial.trulia }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.trulia }}" target="_blank">Trulia</a></li>{{ end }}
              {{ if $footerSocial.yelp }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.yelp }}" target="_blank">Yelp</a></li>{{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

{{ if not $.IsHome }}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{{ end }}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
<script>
      (function(d){
         var s = d.createElement("script");
         /* uncomment the following line to override default position*/
         /* s.setAttribute("data-position", 3);*/
         /* uncomment the following line to override default size (values: small, large)*/
         /* s.setAttribute("data-size", "small");*/
         /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
         /* s.setAttribute("data-language", "null");*/
         /* uncomment the following line to override color set via widget (e.g., #053f67)*/
         /* s.setAttribute("data-color", "#2d68ff");*/
         /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
         /* s.setAttribute("data-type", "1");*/
         /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
         /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility";*/
         /* uncomment the following line to override support on mobile devices*/
         /* s.setAttribute("data-mobile", true);*/
         /* uncomment the following line to set custom trigger action for accessibility menu*/
         /* s.setAttribute("data-trigger", "triggerId")*/
         s.setAttribute("data-account", "Jl0HZXMwDM");
         s.setAttribute("src", "https://cdn.userway.org/widget.js");
         (d.body || d.head).appendChild(s);})(document)
 </script>
<noscript>
Please ensure Javascript is enabled for purposes of 
<a href="https://userway.org">website accessibility</a>
</noscript>
</body>
</html>
