 <!-- Hero head: will stick at the top -->
 <div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-end">
      
      
       
            <a href="https://antoniomatier.netlify.app/" class="navbar-item">Home</a>
        
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    New Home Search
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/homesearch/">
                            Search
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/listing/search/advanced//13">
                            Advanced Search
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/organizer/emailAlerts/">
                            Email Alerts
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Sold Listings
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/openhomes/">
                            Open Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Northern California Condos and Homes Priced from 50k to 500k
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Northern California Condos and Homes Priced from 501k to 1M
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Southern California Homes and Condos Priced from 50k to 500k
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Luxury Homes
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="">
                            Northern California Million Dollar Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Northern California Million Dollar Leases
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Southern California Million Dollar Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Southern California Million Dollar Leases
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Buyers &amp; Sellers
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/organizer/login/">
                            Property Organizer
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="http://www.idxhome.com/valuation/">
                            Valuation Request
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Southern California Homes and Condos Priced from 501k to 1M
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Estate Homes
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="">
                            Southern California Multi-Million Dollar Estates
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="">
                            Northern California Multi-Million Dollar Estates
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Client Relations
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="/home-value-request">
                            Home Value Request
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="/marketing/">
                            Marketing
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="/short-sale/">
                            Short Sale
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="/buyers-and-sellers/">
                            Sellers and Buyers
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    About
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.com/about/">
                            About
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.com/contact-form/">
                            Contact
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.com/testimonials/">
                            Testimonials
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.com/join-the-team/">
                            Join the Team
                            </a>
                            <a class="navbar-item " href="https://lifestyleca.com/asset-managers/">
                              Asset Managers
                              </a>
                              <a class="navbar-item " href="https://lifestyleca.com/privacy-policy/">
                                Privacy Policy
                                </a>
                        
                        
                  </div>
                  
            </div>

            <div class="navbar-item has-dropdown is-hoverable main-drop">
              <a class="navbar-link" href="javascript:;">
                  Concierge
              </a>
              
                  <div class="navbar-dropdown">
                      
                          
                          <a class="navbar-item " href="/relocation-concierge-services/">
                          Client Concierge Services
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="/domestic-services/">
                          Domestic Services
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="/mortgage-professional/">
                          Mortgage Professional
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="/home-repairs-remodel-contractors/">
                          Home Repairs and Remodel Contractors
                          </a>
                      
                      
                </div>
                
          </div>
            
        
         
            <a href="https://antoniomatier.netlify.app/" class="navbar-item">Login</a>
        
         
      </div>
    </div>
  </div>
    </div>
  </nav>
</div>