 <!-- Hero head: will stick at the top -->
 <div class="hero-head">
  <nav class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-end">
      
      
       
            <a href="https://www.lifestyleglobalproperties.com/" class="navbar-item">Home</a>
        
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    New Home Search
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/homesearch/59163">
                            Search
                            </a>
                        
                            <a class="navbar-item " href="https://lifestyleca.com/search-by-address/">
                              Search by Address and ID
                            </a>
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/listing/search/advanced/59163/2?location=&propertyType=SFR%2CCND&status=active&minListPrice=&maxListPrice=&squareFeet=&bedrooms=0&bathCount=0&_openHomesOnlyYn=on&_dateRange=on&_virtualTourYn=on">
                            Advanced Search
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/organizer/emailAlerts/59163">
                            Email Alerts
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/sold/59163">
                            Sold Listings
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/openhomes/59163">
                            Open Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Northern-California-Homes-Priced-From-50-000-to-500-000/59163/174287">
                            Northern California Condos and Homes Priced from 50k to 500k
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Northern-California-Homes-Priced-From-501-000-to-1-000-000/59163/174285">
                            Northern California Condos and Homes Priced from 501k to 1M
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Southern-California-Homes-Condo-s-Priced-From-50-000-to-500-000/59163/169195">
                            Southern California Homes and Condos Priced from 50k to 500k
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Luxury Homes
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Northern-California-Multi-Million-Dollar-Estates/59163/239355">
                            Northern California Million Dollar Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Life-of-Luxury-Million-Dollar-Luxury-Leases/59163/121826">
                            Northern California Million Dollar Leases
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Southern-California-Multi-Million-Dollar-Estates/59163/239354">
                            Southern California Million Dollar Homes
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Southern-California-Life-of-Luxury-Million-Dollar-Luxury-Leases/59163/121823">
                            Southern California Million Dollar Leases
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Buyers &amp; Sellers
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/organizer/login/">
                            Property Organizer
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleca.com/home-value-request">
                            Valuation Request
                            </a>
                      
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Estate Homes
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Southern-California-Multi-Million-Dollar-Estates/59163/239354">
                            Southern California Multi-Million Dollar Estates
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.idxhome.com/report/listing-report/Northern-California-Multi-Million-Dollar-Estates/59163/239355">
                            Northern California Multi-Million Dollar Estates
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    Client Relations
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/home-value-request">
                            Home Value Request
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/marketing/">
                            Marketing
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/short-sale/">
                            Short Sale
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://lifestyleca.com/buyers-and-sellers/">
                            Sellers and Buyers
                            </a>
                        
                        
                  </div>
                  
            </div>
            
        
        
            <div class="navbar-item has-dropdown is-hoverable main-drop">
                <a class="navbar-link" href="javascript:;">
                    About
                </a>
                
                    <div class="navbar-dropdown">
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/about/">
                            About
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/contact/">
                            Contact
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/testimonials/">
                            Testimonials
                            </a>
                        
                        
                            
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/join-the-team/">
                            Join the Team
                            </a>
                            <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/asset-managers/">
                              Asset Managers
                              </a>
                              <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/privacy-policy/">
                                Privacy Policy
                                </a>
                        
                        
                  </div>
                  
            </div>

            <div class="navbar-item has-dropdown is-hoverable main-drop">
              <a class="navbar-link" href="javascript:;">
                  Concierge
              </a>
              
                  <div class="navbar-dropdown">
                      
                          
                          <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/relocation-concierge-services/">
                          Client Concierge Services
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/domestic-services/">
                          Domestic Services
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/mortgage-professional/">
                          Mortgage Professional
                          </a>
                      
                      
                          
                          <a class="navbar-item " href="https://www.lifestyleglobalproperties.com/home-repairs-remodel-contractors/">
                          Home Repairs and Remodel Contractors
                          </a>
                      
                      
                </div>
                
          </div>
            
        
         
            <a href="https://lifestyleca.idxhome.com/organizer/login/59163" class="navbar-item">Login</a>
        
         
      </div>
    </div>
  </div>
    </div>
  </nav>
</div>
