{{ $bio := .Site.Data.home.agent_bio }}
<div class="about-container" id="about">
<div class="section">
    <div class="container">
        <div class="columns is-vcentered is-variable is-8">
            <div class="column has-text-centered is-4">
                {{ if $bio.photo }}
                <img src="{{ $bio.photo }}" alt="" class="about-home-image">
                {{ end }}
            </div>
            <div class="column">
                <div class="content">
                    {{ if $bio.heading }}
                        <h1 class="title is-2 is-size-3-mobile is-uppercase">A message from our President</h1>
                    {{ end }}
                    {{ if $bio.heading }}
                        <p class="is-size-5 mb-6">{{ $bio.subtitle }}</p>
                    {{ end }}
                    <div class="columns">
                        <div class="column">
                            <p>For more than 20 years we have assisted buyers and sellers alike with making their real estate dreams come true. We are a seasoned group of real estate professionals bringing to the table more than 90 years of combined industry tenure. When “Lifestyle Global Properties,” was founded we were looking to establish a boutique real estate firm that not only exemplifies unparalleled industry knowledge but also: Unparalleled business acumen, negotiating skill, industry experience and client service.</p>
                            <em>“Having purchased my first home at the age of 20, I felt like my realtor had no clue! Not only did the realtor not have a clue, they also lacked the ability and desire to listen to me in order to determine my needs. I found that their main focus was to make a sale and not ensuring that I landed where I wanted to be! As an inexperienced and naive buyer I learned much from that experience,” here are three key points I learned:
                                <ol>
                                    <li><em>Be realistic with your budget and your idea of what you consider to be your ideal home.</em></li>
                                    <li>Don’t waste valuable time working with an agent that shows no true interest in you procuring your ideal home</li>
                                    <li>Retain the services of a seasoned realtor that will partner with you. In doing so you will avoid unnecessary frustrations and pitfalls.</li>
                                </ol>
                                <em>&nbsp;- Antonio Matier - President,  Lifestyle Global Properties</em>
                            </em>
                        </div>
                        <div class="column">

                            <p>Our firm is all about the experience, great client service coupled with unparalleled industry knowledge and seasoned realtors = guaranteed results and client satisfaction. Your complete happiness is paramount . . . when our clients are happy we are happy!</p>
                            <p>With that said, our realtors have lived in many counties, cities and districts throughout the San Francisco Greater Bay Area, Los Angeles and Metro Atlanta. Our professional and life experiences have afforded us the opportunity to develop vast knowledge of California and Metro Atlanta housing markets, neighborhoods and schools. Applying this knowledge when assisting our buyers and sellers with the acquisition or offering of a home has been majorly beneficial. We are master negotiators, deal makers and marketers. We will ensure if you are a buyer you will pay the best price possible with the best terms for your new home. If you are a seller we will ensure you receive top dollar and the best terms when selling your home. We make the home buying and selling process very simple.</p>
                            <p>Why work with mediocrity when you can work with successful over achievers?</p>
                            <p>Give our office a call or email to get started today with your no-cost evaluation at <a href="tel:1-888-359-5990">1-888-359-5990</a> or <a href="mailto:clientrelations@lifestyleglobalproperties.com">clientrelations@lifestyleglobalproperties.com</a></p>
                            <p>We looking forward to working with you!</p>
                            <br>
                            <!--<a href="/about" style="border-bottom: 2px solid #631B33">Read More</a> -->
                            <img src="/uploads/sig.PNG" alt="Antonio Matier signature">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>