<div class="homeform__container">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                  <form id="ihf-contact-request-form" data-ihf-event="contact-form-submit" action="https://lifestyleca.idxhome.com/contact/{{ .Site.Data.idx.idx_id }}" method="POST" data-ihf-event-bound="true">
                    <div class="field is-horizontal">
                      <div class="field-body">
                        <div class="field">
                          <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Name" name="contactName">
                          </p>
                        </div>
                        <div class="field">
                          <p class="control">
                            <input class="input" type="text" placeholder="Email" name="email">
                          </p>
                        </div>
                        <div class="field">
                          <p class="control">
                            <input class="input" type="text" placeholder="Phone" name="phone">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                          <textarea id="message" placeholder="Message" name="message" class="textarea" style="height: 140px;" rows="3"> </textarea>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">Submit</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>