<div class="listing-bg pt-6" style="background:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.8)),url(/uploads/sanfransky.jpg) no-repeat center;background-size:cover;">
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column content">
                    <h1 class="title is-3">Our Featured Listings</h1>
                    <p>Our featured listings are updated hourly from the MLS. Need more information on some properties? Contact our team of agents. <a href="http://www.idxhome.com/organizer/emailAlerts/133408">Register</a> for an account to receive alerts for new listings that match your search criteria</p>
                    <br>
                    <a href="https://lifestyleca.idxhome.com/featured/59163" class="primary-btn">View All Listings</a>
                </div>
                <div class="column">
                    <script type="text/javascript" src="https://lifestyleglobalproperties.idxhome.com/site/listing/gallery/slider/59163?columns=1&rows=1&effect=fade&auto=false"></script>
                </div>
            </div>
        </div>
    </div>
</div>
