<div class="panel__container">
    <div class="columns has-text-centered is-gapless has-text-white is-multiline">
        <div class="column is-3">
            <div class="panel panel-inner-one">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/San-Francisco/1131466/">San Francisco</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-two">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Oakland/1131467/">Oakland</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-three">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/San-Leandro/1131468/">San Leandro</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-four">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Castro-Valley/1131469/">Castro Valley</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-five">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Hayward/1131470/">Hayward</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-six">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Emeryville/1131471/">Emeryville</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-seven">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Berkeley/1131472/">Berkley</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-eight">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Pleasanton/1131473/">Pleasanton</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-nine">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/report/listing-report/LA/132970/1109803">Lamorinda</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-ten">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/Contra-Costa/1137412/">Contra Costa County</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-eleven">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/santa-clara/1137493/">San Mateo and Santa Clara</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-twelve">
                <a class="is-size-5-mobile" href="https://lifestyleca.com/listing-report/LA/1137494/">Southern California</a>
            </div>
        </div>
    </div>
</div>