<div class="panel__container">
    <div class="columns has-text-centered is-gapless has-text-white is-multiline">
        <div class="column is-3">
            <div class="panel panel-inner-one">
                <a class="is-size-5-mobile" href="/kitchen-remodels">San Francisco</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-two">
                <a class="is-size-5-mobile" href="/bathroom-remodels">Oakland</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-three">
                <a class="is-size-5-mobile" href="/cabinets-countertops-hardware/">San Leandro</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-four">
                <a class="is-size-5-mobile" href="/cabinets-countertops-hardware/">Castro Valley</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-five">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Hayward</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-six">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Emeryville</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-seven">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Berkley</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-eight">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Pleasanton</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-nine">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Lamorinda</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-ten">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Contra Costa County</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-eleven">
                <a class="is-size-5-mobile" href="/kitchen-remodels">San Mateo and Santa Clara</a>
            </div>
        </div>
        <div class="column is-3">
            <div class="panel panel-inner-twelve">
                <a class="is-size-5-mobile" href="/kitchen-remodels">Southern California</a>
            </div>
        </div>
    </div>
</div>